<footer class="sub-footer">
    <div class="sub-footer-container mb-5">
        <div class="sub-footer-content">
        </div>
    </div>
    {% include('Components/copyright.html.twig') %}
</footer>