/*---------------------------------
  共通
---------------------------------*/
.content {
  margin-bottom: 150px;
}

/*---------------------------------
  navbar
---------------------------------*/
.main-navbar {
  margin: 50px 0;
}

/*---------------------------------
  header
---------------------------------*/
.main-header-container {
  position: relative;
  height: 450px;
  margin-bottom: 200px;
}

.main-header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*---------------------------------
  main container
---------------------------------*/
.main-container .card,
.main-container .card-header {
  border: none;
}

.main-container .card-header {
  background-color: transparent;
}

.main-container .card-title {

}

/*-----------------------
  service content
-------------------------*/

/*-----------------------
  blog content
-------------------------*/
.blog-content h4 {

}

/*-----------------------
  profile content
-------------------------*/
.profile-content .profile-body dt {
  float: left;
  width: 20%;
}

/*---------------------------------
  footer
---------------------------------*/
.footer-address-contact li {
  display: inline-block;
  width: 25%;
}