<footer class="main-footer">
    <div class="main-footer-container mb-5">
        <div class="main-footer-content">
            <div class="footer-profile-content mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://placehold.it/120x120" alt="" class="rounded-circle img-responsive" />
                            </div>
                            <div class="col-md">
                                <h3>Developer</h3>
                                <p>Hello there! My name is Alan and I'm a Front End Developer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="http://placehold.it/120x120" alt="" class="rounded-circle img-responsive" />
                            </div>
                            <div class="col-md">
                                <h3>Designer</h3>
                                <p>Hello there! My name is Alan and I'm a Front End Developer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <address class="text-right">
                <div class="footer-address-contact">
                    <ul>
                        <li>
                            <span>Address: 東京都大田区</span>
                        </li>
                        <li>
                            <span>Email: <a href="mailto:sample@gmail.com">sample@gmail.com</a></span>
                        </li>
                    </ul>
                </div>
            </address>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">&copy 2020 ぱひゅーむ </div>
</footer>