<section class="service">
    <div class="service-container text-center">
        <header class="mb-md-5">
            <h2 class="fast-fade-in-left wow" data-wow-delay=".5s">Service</h2>
        </header>
        <div class="service-content-container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">ディレクション</h3>
                      </div>
                      <div class="card-body">
                          <p class="card-text">sample</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">デザイン</h3>
                      </div>
                      <div class="card-body">
                          <p class="card-text">sample</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">コーディング</h3>
                      </div>
                      <div class="card-body">
                          <p class="card-text">sample</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>