<section class="blog">
    <div class="blog-container text-center">
        <header class="mb-md-5">
            <h2>Blog</h2>
        </header>
        <div class="blog-content content">
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <div class="text-left">
                                    <h4 class="card-title">{{ blog.title }}</h4>
                                    <p class="card-text">{{ blog.text }}</p>
                                </div>
                                <div class="text-right">
                                    <a href="#" class="btn btn-primary">more</a>
                                </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>